name: Build Release
on:
  push:
    tags:
      - 'v*'

jobs:
  build:
    name: Build Release
    runs-on: ubuntu-latest
    steps:
      - name: Install Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.15

      - name: Checkout
        uses: actions/checkout@v2

      - name: Cache Go modules
        uses: actions/cache@v4
        with:
          path: ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ matrix.go-version }}-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-${{ matrix.go-version }}-
            ${{ runner.os }}-go-
            ${{ runner.os }}-

      - name: Resolve Dependencies
        run: go mod tidy

      - name: Go Test
        run: make test

      - name: Go Build
        run: make build

      - name: Test checksum
        run: make test-checksum

      - name: Create Release Draft
        run: |
          set -x
          assets=()
          for asset in ./build/*; do
            assets+=("$asset")
          done
          tag_name="${GITHUB_REF##*/}"
          gh release create "$tag_name" "${assets[@]}" --draft --title "$tag_name" --notes "Release $tag_name"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
